body {
  text-align: center;
}

/* 👇 YOUR CODE HERE 👇 */

button {
  background-color: red;
  color: white;
  margin: 20px;
  padding: 10px;
  border-width: 3px;
  border-style: double;
  border-color: darkgray;
}
